<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <specFlow></specFlow>

  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_INegocio">
          <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
            requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
            requireSignatureConfirmation="false" canRenewSecurityContextToken="true">
            <secureConversationBootstrap defaultAlgorithmSuite="Default"
              authenticationMode="IssuedToken" requireDerivedKeys="true" includeTimestamp="true"
              messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
              requireSignatureConfirmation="false">
              <issuedTokenParameters tokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1" />
              <localClientSettings detectReplays="true" />
              <localServiceSettings detectReplays="true" />
            </secureConversationBootstrap>
            <localClientSettings detectReplays="true" />
            <localServiceSettings detectReplays="true" />
          </security>
          <binaryMessageEncoding />
          <tcpTransport />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_INegocio">
          <security mode="None">
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_INegocio1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_INegocio">
          <reliableSession enabled="true" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://cldsn00331d:25113/Sinacor/Ordens/Ordens.IntegrationService.INegocio.svc/Federated"
        binding="customBinding" bindingConfiguration="CustomBinding_INegocio"
        contract="Negocio.INegocio" name="CustomBinding_INegocio" />
      <endpoint address="net.tcp://cldsn00331d:25113/Sinacor/Ordens/Ordens.IntegrationService.INegocio.svc/Basic"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_INegocio"
        contract="Negocio.INegocio" name="NetTcpBinding_INegocio" />
      <endpoint address="net.tcp://cldsn00331d:25113/Sinacor/Ordens/Ordens.IntegrationService.INegocio.svc/Transport"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_INegocio1"
        contract="Negocio.INegocio" name="NetTcpBinding_INegocio1">
        <identity>
          <servicePrincipalName value="host/cldsn00331d.development.dev" />
        </identity>
      </endpoint>
      <endpoint address="http://cldsn00331d:25101/Sinacor/Ordens/Ordens.IntegrationService.INegocio.svc/WsHttpBinding"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INegocio"
        contract="Negocio.INegocio" name="WSHttpBinding_INegocio" />
    </client>
  </system.serviceModel>
  
</configuration>
