<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="JiraURL" value="https://jira.intraservice.corp" />
    <add key="JiraUser" value="usuario_jira" />
    <add key="JiraEncryptedPass" value="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" />
    
    <!-- MODO DEBUG - Deixe como true para imprimir os arquivos json no momento de chamar as APIs do Jira em alguns momentos: -->
    <!--   Caso rode pra atualizar os testcases no xray, o arquivo será 'payload_update_testcase_issue.txt' -->
    <!--   Caso rode pra atualizar os resultados de execução no test execution, o arquivo será 'payload_update_testexecution_with_results.txt' -->
    <!--   Entre outros: -->
    <!--      'payload_create_new_testexecution.txt' -->
    <!--      'payload_associate_tests_to_testplan.txt' -->
    <!--      'payload_associate_tests_to_testexecution.txt' -->
    <!-- Os arquivos de debug são cumulativos, ou seja, sempre será gerado conteudo ao final deles -->
    <add key="Debug" value="false" />

    <!-- Lista de APIs do Jira utilizadas na ferramenta -->
    <add key="EndpointXRayImportExecution" value="rest/raven/1.0/import/execution"/>
    <add key="EndpointXRayTestRun" value="rest/raven/1.0/testruns?testExecKey="/>
    <add key="EndpointXRayTestPlan" value="rest/raven/1.0/api/testplan/##ISSUE##"/>
    <add key="EndpointXRayTestPlanTests" value="rest/raven/1.0/api/testplan/##ISSUE##/test"/>
    <add key="EndpointXRayTestPlanTestExecutions" value="rest/raven/1.0/api/testplan/##ISSUE_TESTPLAN##/testexecution"/>
    <add key="EndpointXRayTestPlanTestExecution" value="rest/raven/1.0/api/testplan/##ISSUE_TESTPLAN##/testexecution/##ISSUE_TESTEXEC##"/>
    <add key="EndpointXRayTestExecutionTests" value="rest/raven/1.0/api/testexec/##ISSUE##/test"/>
    <add key="EndpointIssue" value="rest/api/2/issue"/>
    <add key="EndpointIssueTicket" value="rest/api/2/issue/##ISSUE##"/>
    <add key="EndpointTest" value="rest/api/2/serverInfo"/>

    <!-- RemoveOldTestExecutions = TRUE irá remover os Test Executions de acordo com o número de dias -->
    <!-- configurados na parte RemoveOldTestExecutions, ou seja, se essa cofiguração estiver 7, ele -->
    <!-- irá remover todos os Test Executions de 7 dias pra trás-->
    <add key="RemoveOldTestExecutions" value="true"/>
    <!-- NumberOfDaysToStayTestExecutions é o número de dias que será mantido o histórico de Test Executions de um determinado-->
    <!-- projeto de Features em um determinado Test Plan, ou seja, se tiver com o valor 7 ele irá manter o histórico dos -->
    <!-- últimos 7 dias e apagará todo o resto. Funciona apenas se a configuração 'RemoveOldTestExecutions' estiver 'true'-->
    <add key="NumberOfDaysToStayTestExecutions" value="7"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
